/* Untuk layar kecil seperti tablet */
@media (max-width: 768px) {
    .nav ul li a {
        font-size: 14px;
        padding: 10px;
    }
    .logo img {
        width: 180px;
        padding-left: 20px;
    }
    .about .container {
        flex-direction: column; /* Susun elemen secara vertikal */
        align-items: center; /* Pusatkan elemen dalam kolom */
        text-align: center; /* Rata tengah teks */
    }
    .about .container img {
        max-width: 90%; /* Pastikan gambar tidak terlalu besar */
        margin-bottom: 20px;
    }
    .card {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 10px;
    }
    .container-cikarang {
        padding: 30px;
    }
    .container-cikarang .text {
        padding-left: 20px;
    }
}

/* Untuk layar lebih kecil seperti ponsel */
@media (max-width: 480px) {
    .nav ul li a {
        font-size: 12px;
        padding: 8px;
    }
    .logo img {
        width: 150px;
        padding-left: 10px;
    }
    .about h1 {
        font-size: 30px;
    }
    .about .text p {
        padding-top: 10px;
    }
    .about .container {
        flex-direction: column; /* Tetap dalam susunan vertikal */
        text-align: center;
    }
    .about .container img {
        order: -1; /* Pastikan gambar tetap di atas teks */
        max-width: 100%; /* Lebarkan gambar hingga 100% dari kontainer */
        margin-bottom: 15px; 
    }
    .card {
        grid-template-columns: 1fr;
        padding: 5px;
        gap: 10px;
    }
    .container-cikarang {
        padding: 20px;
    }
    .spek {
        flex-direction: column;
        padding: 15px;
    }
    .spek-content {
        padding-inline: 20px;
    }
    .lpblog .btnbox {
        font-size: 16px;
        padding: 8px;
        margin-top: 10px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}
header{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.logo img{
    width: 220px;
    padding-left: 40px;
}

.nav {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: aliceblue;
    display: flex;
    width: 100%;
    height: 12vh;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    z-index: 100;
}

.nav ul{
    padding-right: 40px;
}
.nav ul li{
    display: inline-block;
}

.nav ul li a{
    color: #1B2147;
    font-size: 16px;
    transition: all 0.3s;
    position: relative;
    padding: 18px;
}
.nav ul li .dropdown-content a {
    font-size: 15px;
}
.nav ul li a:hover {
    padding: 18px;
    color: #DFB962;
}
.dropdown {
    position: relative;
    display: inline-block;
}

  /* Styling untuk dropdown menu yang muncul saat hover */
.dropdown-content {
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    margin-top: 5px;
    width: 190px;
    display: none;
    position: absolute;
    background-color: aliceblue;
    z-index: 1;
}

  /* Styling untuk tiap pilihan dropdown */
.dropdown-content a {
    text-align: left;
    color: black;
    padding: 12px 16px;
    display: block;
}

  /* Menampilkan dropdown saat di-hover */
.dropdown:hover .dropdown-content {
    display: block;
}

  /* Styling untuk hover pada opsi */
  .dropdown-content a:hover {
    background-color: #1B2147;
}

.about .container{
    margin: 100px 50px 50px 50px;
    display: flex;
    padding: 20px 20px 0px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    flex-direction: row; /* Default horizontal layout untuk layar besar */
    align-items: center;
}

.about .text{
    margin-right: 79px;
    justify-content: center;
    align-items: center;
}
.about h1{
    font-size: 40px;
    color: #1B2147;
}

.text h1:hover{
    color: #DFB962;
    transition: 0.5s;
}

.about .text p{
    padding-top: 15px;
    text-align: justify;
    line-height: 2;
}

.about .container .buttonbox{
    font-size: 20px;
    padding: 20px;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
    background-color: #1B2147;
    border-radius: 50px;

}
.about .button a{
    color: #DFB962;
}
.about .button a:hover{
    color: #1B2147;
}

.about .buttonbox:hover{
    border: solid 1px #1B2147;
    background-color: white;
    transition: 0.4s;
}

.about .container img{
    max-width: 45%; /* Atur ukuran gambar untuk layar besar */
    margin-left: auto; /* Pastikan gambar tetap di sebelah kanan */
    border-radius: 20px;
}
.proyek{
    background-color: #7272720e;
    border-radius: 10px;
    position: relative;
    color: #1B2147;

}
.proyek .container{
    margin: 0px 40px 0px 40px;
    display: flex;    
    width: auto;
    overflow-x: hidden;
    padding: 15px;
    margin-bottom: 20px;

}
.proyek-rumah .proyek-btn{
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    margin: 10px auto;
    padding: 5px 10px;
    display: block;
}
.proyek-btn:hover{
    background-color: #DFB962;
    transition: 0.3s;
    color: #fff;
    border: none;
}
.proyek h1{
    text-align: center;
    padding-top: 20px;
}
.proyek-rumah h2{
    text-align: center;
}
.proyek img{
    max-width: 370px;
    height: auto;
    border-radius: 10px;
}

.proyek-rumah{
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: inline-block;
    margin-inline: 0px 20px;
    transition: transform 0.5 ease-in-out;
}

.proyek .prev-btn, .next-btn {
    background-color: rgba(0, 0, 0, 0);
    color:#1B2147;
    border: none;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 35px;
    z-index: 10;
}
.proyek .prev-btn {
    left: 0;
}
  
.proyek .next-btn {
    right: 0;
}
footer{
    background-color: aliceblue;
    color: #1B2147;
    font-size: 14px;
}

footer .container{
    display: flex;
    justify-content: space-around;
    padding: 30px 0px 30px 0px;
}
footer .telp{
    display: flex;
    margin-top: 10px;
}
footer i{
    margin-right: 10px;
}
footer .email{
    margin-top: 10px;
    display: flex;
}
footer .copyright{
    color: #DFB962;
    background-color: #1B2147;
    text-align: center;
    padding: 10px;
}
footer .alamat{
    max-width: 200px;
    text-align: justify;
    display: flex;
    margin-top: 10px;
    line-height: 1.5;
}

footer img{
    width: 135px;
    height: auto;
}

/* TAMPILAN PROYEK */
.container-proyek{
    margin: 50px;
    margin-top: 100px;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
}
.container-proyek .proyek-btn{
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    margin: 10px auto;
    padding: 5px 10px;
    display: block;
}
.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}
.container-proyek h1{
    margin-bottom: 10px;
}
.card-home h2{
    text-align: center;
}
.card-home{
    text-align: left;
}
.card-home ul{
    padding-left: 15px;
    line-height: 1.5;
}
.card-home {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
    border: none;
}
.card-home:hover{
    transform: scale(1.05);
}
.card-home img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* Proyek cikarang*/
.container-cikarang{
    padding: 60px;
    margin-top: 100px;
}
.detail-proyek{
    background-color: white;
    display: flex;
}
.slider {
    position: relative;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
}
.container-cikarang h2{
    padding-bottom: 15px;
}
.container-cikarang .text{
    flex: 1;
    padding-left: 60px;
}
.container-cikarang p{
    line-height: 1.6;
    text-align: justify;
}
.slides img{
    max-width: 100%;
    border-radius: 20px;
}
  
.slides {
    display: flex;
    transition: transform 0.5 ease-in-out;
}
  
.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: none; /* Hide all slides by default */
}
  
.slide.active {
    display: block; /* Only the active slide is shown */
}
  
.container-cikarang button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 20, 112, 0.5);
    color: #DFB962;
    border: none;
    padding: 10px;
    cursor: pointer;
}
  
.prev {
    left: 10px;
}
  
.next {
    right: 10px;
}
  
.spek{
    margin-top: 100px;
    border: solid 4px #DFB962;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    color: #1B2147;
    background-color: white;
}
.spek-content i{
    font-size: 40px;
    padding-bottom: 10px;
}
.spek .spek-content{
    justify-content: center;
    padding-inline: 44px;
}
/* lp blog */
.lpblog{
    line-height: 1.5;
    width: 100%;
    min-height: 350px;
    background: #1B2147;
    display: grid;
    justify-content: center;
    align-items: center;
}

.lpblog-text{
    color: white;
    text-align: center;
}

.lpblog-tittle{
    font-size: 40px;
}

.lpblog-sub{
    font-size: 1rem;
    font-weight: 400;
}

.lpblog .btn a{
    color: black;
}

.lpblog .btn a:hover{
    color: aliceblue;
}

.lpblog .btnbox{
    line-height: 1.5;
    line-break: auto;
    font-size: 20px;
    padding: 10px;
    margin-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
    background-color: aliceblue;
    border-radius: 50px;
}

.lpblog .btnbox:hover{
    
    background-color: #DFB962;
    transition: 0.4s;
}